<a href="https://colab.research.google.com/github/optimalMachine/EliteDataScienceCourse/blob/master/2_Workbook_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### COMPANION WORKBOOK

# Data Structures

To make the most out of this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online module.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">MODULE CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online module. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Lists are mutable sequences of objects.

In [ ]:
integer_list = [-1,2,3,4]
print (integer_list)
print (type(integer_list))

[-1, 2, 3, 4]
<class 'list'>

In [ ]:
my_list = ['hello', 1, 'world', 2, 3.0]
print (my_list)

['hello', 1, 'world', 2, 3.0]

In [ ]:
print (my_list[0])
print (my_list[1])

hello
1

In [ ]:
print (my_list[-1])

3.0

In [ ]:
print (my_list[:-1])

['hello', 1, 'world', 2]

In [ ]:
print (my_list[1:-1])

[1, 'world', 2]

In [ ]:
my_list.append(99)
print (my_list)

['hello', 1, 'world', 2, 3.0, 99]

In [ ]:
my_list.remove(3.0)
print (my_list)

['hello', 1, 'world', 2, 99]

## II. Tuples are immutable sequences of objects.

## III. Sets are collections of unique objects.

## IV. Dictionaries are collections of key-value pairs.

#### <span style="color:#555">EXERCISES</span>

Complete each of the following exercises.

## <span style="color:RoyalBlue">Exercise 2.1 - Listing the Locations</span>

#### In the previous module...

In the previous module, you learned about the training mission: a visit to London. You also made sure you had enough water for the trip by performing calculations. Now, it's time to start planning the locations in London to visit! Before we start, let's import lists of locations by borough. 
* These are stored in text files that HQ has provided for you. 
* Python has a variety of **input/output** methods. We won't cover them here, but you can learn more about them in the [documentation](https://docs.python.org/3/tutorial/inputoutput.html).

#### A.) First, run this code. This will read lists of locations by borough.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Read lists of locations (simply run this code block)
with open('/content/drive/MyDrive/Colab Notebooks/Python for Data Science/project_files/brent.txt', 'r') as f:
    brent = f.read().splitlines()
    
with open('/content/drive/MyDrive/Colab Notebooks/Python for Data Science/project_files/camden.txt', 'r') as f:
    camden = f.read().splitlines()

with open('/content/drive/MyDrive/Colab Notebooks/Python for Data Science/project_files/redbridge.txt', 'r') as f:
    redbridge = f.read().splitlines()

with open('/content/drive/MyDrive/Colab Notebooks/Python for Data Science/project_files/southwark.txt', 'r') as f:
    southwark = f.read().splitlines()

Note that when text files are read using the <code style="color:steelblue">splitlines()</code> function, the resulting object is a list.

So the four objects you just created from the files - <code style="color:steelblue">brent</code>, <code style="color:steelblue">camden</code>, <code style="color:steelblue">redbridge</code>, and <code style="color:steelblue">southwark</code> - are all lists.

#### B.) Confirm that the new objects are all Python lists.

In [4]:
# Display the classes of your new objects
print (southwark)

['Denmark Hill', 'Dulwich', 'Surrey Quays', 'East Dulwich', 'Elephant and Castle', 'Newington', 'Nunhead', 'Peckham', 'Rotherhithe', 'Surrey Quays', 'Nunhead', 'Walworth', 'Bermondsey', 'Camberwell', 'Bankside']

Let's start exploring this data.

#### C.) Print the first 5 locations in the Camden list.

In [ ]:
# Print the first 5 locations in Camden

<strong style="color:RoyalBlue">Expected output:</strong>

<pre>['Chalk Farm', 'Dartmouth Park', 'Fitzrovia', 'Frognal', 'Bloomsbury']</pre>

Next, we need to know how many locations are in each borough. 

#### D.) Print the number of locations in each list.
* Which borough has the most locations?
* Which borough has the fewest locations?

In [ ]:
# Print length of each list

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
19
22
18
15
</pre>

*Camden has the most locations and Southwark has the fewest.*

#### E.) Next, HQ wants to check a few locations. Do the following:
* **Print <code style="color:steelblue">True</code> if <code>'Newbury Park'</code> is in Redbridge or <code style="color:steelblue">False</code> if it's not.**
* **Print <code style="color:steelblue">True</code> if <code>'Peckham'</code> is in Brent or <code style="color:steelblue">False</code> if it's not.**

In [ ]:
# Is 'Newbury Park' in Redbridge?


# Is 'Peckham' in Brent?

#### F.) Next, try printing the "minimum" and "maximum" values in the Southwark list.
* Why do you think you get those results?
* How do you think lists of strings are ordered?

In [ ]:
# Print minimum value in southwark


# Print maximum value in southwark

#### G.) Finally, try printing the "minimum" and "maximum" values from all of the other 3 lists.
* Do the results confirm your suspicions from (F)?

In [ ]:
# Print min/max values in brent


# Print min/max values in camden


# Print min/max values in redbridge

## <span style="color:RoyalBlue">Exercise 2.2 - Setting Uniques</span>

Let's continue planning locations to visit for our training mission to London. Before we continue, we need to remove duplicates from our lists because we don't have time to visit the same location twice.

#### A.) For each of the 4 lists of locations, print <code style="color:steelblue">True</code> if it has duplicate locations and <code style="color:steelblue">False</code> if it doesn't.
* Hint: A list with duplicates will have a greater length than a set of the same locations.

In [ ]:
# Brent has duplicates?


# Camden has duplicates?


# Redbridge has duplicates?


# Southwark has duplicates?

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
False
True
True
True
</pre>

#### B.) For the lists with duplicates, remove duplicates by converting them into sets. Then, convert them back into lists.
* Hint: <code style="color:steelblue">set()</code> and <code style="color:steelblue">list()</code> are your friends.

In [ ]:
# Convert lists to sets to remove duplicates, then convert them back to lists

Great, we're now almost ready to visit the locations. 

But first, let's look at a simple way to store the locations in one place.

## <span style="color:RoyalBlue">Exercise 2.3 - Dictionary Database</span>

We're almost ready to visit the locations in London! However, it's too cumbersome to lug around the 4 different lists we created in the previous exercise.

#### A.) Create a single dictionary named <code style="color:steelblue">location_dict</code> for the locations in each borough.
* Each key should be the name of the borough.
* Their values should be the lists of unique locations you created in <span style="color:RoyalBlue">Exercise 2.2</span>.

In [ ]:
# Create location_dict

Next, let's make sure the dictionary has the correct keys. 

#### B.) Run the cell below and check the output.
* What do you think the code below is doing?
* You'll learn more about <code style="color:steelblue">for</code> loops in the next module.

In [ ]:
# Run this cell
for borough in ['Brent', 'Camden', 'Redbridge', 'Southwark']:
    print( borough in location_dict )

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
True
True
True
True
</pre>

Did you get the expected output? If not, check the answer key before moving on.

You've just received a message from HQ. *"Now that you've set up your dictionary, you won't need the original lists anymore. Get rid of them and wipe them clean."*

#### C.) Overwrite the original borough lists with <code style="color:steelblue">None</code>.
* <code style="color:steelblue">None</code> is an object that denotes emptiness. It's a separate object type within Python, similar to integers, floats, etc.
* There are different ways to approach this. See if you can do it in just one line of code! (Hint: "unpacking") The answer key has the solution that uses only one line of code.

In [ ]:
# Wipe your original lists clean with None

#### D.) Confirm that all of your lists were wiped successfully. Print out each one's new class/type.
* Tip: When you overwrite a variable with a new object, it keeps the same variable name, but the object could be a completely different type of object.

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
&lt;class 'NoneType'>
</pre>

Now, we want to split our visit to London into two trips: one for Inner London and one for Outer London.

#### E.) Add two new items to your dictionary:
1. **Key:** <code style="color:steelblue">'Inner London'</code>... **Value:** All locations in <code style="color:steelblue">'Camden'</code> and <code style="color:steelblue">'Southwark'</code>.
2. **Key:** <code style="color:steelblue">'Outer London'</code>... **Value:** All locations in <code style="color:steelblue">'Brent'</code> and <code style="color:steelblue">'Redbridge'</code>.

Since you got rid of your original lists, you'll have to use the values you've already stored in your dictionary.

In [ ]:
# Create a new key-value pair for 'Inner London'


# Create a new key-value pair for 'Outer London'

Finally, let's just check that we have the right number of locations for each trip.
* You should have 32 for Inner London
* You should have 35 for Outer London

#### F.) Run the cell below and check that you get the expected output.
* The <code>len</code> function counts the number of elements in a list-like object. You'll see this pop up many times throughout this program.

In [ ]:
print( len(location_dict['Inner London']) )
print( len(location_dict['Outer London']) )

<strong style="color:RoyalBlue">Expected output:</strong>
<pre>
32
35
</pre>

If you don't have the right number of locations, doublecheck that you removed duplicates and that you're concatenating the correct lists. You can also check the answer key for the solution.

#### G.) Once you have the right number of locations, let's save this object so we can use it in the next module. Run the cell below.
* We'll use a Python built-in package called <code style="color:steelblue">pickle</code> to do so.
* Pickle saves an entire object in a file on your computer.

In [ ]:
import pickle

# Save object to disk
with open('location_dict.pkl', 'wb') as f:
    pickle.dump(location_dict, f)

#### The mission continues in the next module...

Now you have a dictionary of locations in London by borough. In the next module, we'll look through the locations and pick one to start with.